body {
    margin: 0 auto;
    padding: 0;
}

header {
    background-color: #000;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
}

header > span {
    color: #fff;
    padding: 0 10px;
}

div.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

label, textarea {
    display: block;
}

div > input {
    margin-top: 10px;
}